.dbutton {
    font: 1px;
    padding: 0.5rem 1.5rem;
    border: 2px solid #030303 ;
    color: rgb(7, 2, 2);
    background: #f5f5f5;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
    cursor: pointer;
    float : right;
    
  }
  
  .dbutton:focus {
    outline: none;
  }
  
  .dbutton:hover,
  .dbutton:active {
    background: #ac0e77;
    border-color: #ac0e77;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
  }
  